<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user profile</title>
   
</head>

<body>
   {% include 'header.html'%}
    
  <div>
      <img src="{{request.session.pic}}" alt="img">
      <h1>{{request.session.username}}</h1>
  
  </div>
  
    
<br>
    <!-- image upload section -->
    <div>
        <form method="POST" enctype="multipart/form-data" action="/createpin/{{request.session.uid}}" >
            {% csrf_token %}
        <label for="tag">Title</label>
        <input type="text" name="title" required>
        <br>
        <label for="pin"><b>pin</b></label>
        <input type="file" name="pin" placeholder="pin" required>
         <button type="submit" style="font-size: 30px;">ok</button>
    </form>
    </div>
<br>


<div class="container">
  {%for i in user_pins %}

  <div class="card card_small">
      <img src="{{i.pin.url}}" alt="{{i.tag}}">
      <button><a href="/removepin/{{i.id}}">remove</a></button>

  </div> 
  {% endfor %}    
</div>

    

</body>
</html>